
<div class="Title">
  <img src="../assets/word-blog-vector-banner-with-text-colored-rainbow_100655-2724.avif" alt="" height="200">
<input type="button" value="Search"> <input type="text">
</div>
<div class="SouthIndianFoods">
  <h1>SouthIndianFoods</h1>
</div>
<div class="paraparagraphs">
  <ol>
  <h3> 
   
  Despite the many formidable foods made within South India, 
  relatively few dishes have gained substantial popularity in the states.
  Most of the rich, buttery Indian dishes popular in the US, such as crispy naan, 
  creamy butter chicken, and toasty samosas, originate from the Punjab region in northern India. 
  While these dishes are undoubtedly delicious,
 they only represent a fraction of what India has to offer.
  </h3>
</ol>
</div>

<div class="image1">
  <img src="../assets/image3-5-900x601-1.jpg" alt="" width="650" height="400">
</div>

<div class="Intro">
<h2>
  An Introduction To South India
</h2>
</div>

<div class="blog1">
  <ol>
    <h4>
    South India is home to many of the world’s most coveted ingredients like curry leaves, peppercorns, tamarind, coconut, and chilies. Many dishes feature over a dozen different spices, allowing the spices to mingle and marry to create vibrant fireworks of flavor.
  </h4>
  </ol>
</div>

<div class="blog2">
 <ol>
  <h5>
    These dishes often prove a bit spicier than Northern Indian dishes, but don’t let that scare you off. There are some delicious mild options featured on this list that serve as a fantastic introduction to the mouthwatering cuisine that South India has to offer.

Get ready to make these dishes at home or order them on your next visit to a South Indian restaurant!
  </h5>
 </ol>
</div>

<div class="idly">
  <h2>
  Idly-
</h2>
</div>

<div class="idlypic">
<img src="../assets/image1-6-1024x684.jpg" alt="" width="350" height="350">

</div>

<p>
  One of the most popular dishes across the southern states, idli is made up of a delicious fermented lentil and rice batter. This mixture is steamed into circular molds that taste soft, tangy, yet pleasantly mild.
  <br>
  While idli is often paired with sambar (lentil and veggie thin stew) and coconut chutney, it can also be eaten on its own or even topped with a natural sweetener like coconut sugar. 
</p>
<a href="https://onehotstove.blogspot.com/2020/09/the-big-idli-post.html"target="_blank">More</a>                                        

<div class="biryani">
  
  <h2>
    Biryani-
  </h2>

  <style>
    img{
   display: block;
   margin: auto;
    }
   </style>
   <img src="../assets/image6-1-1024x1024.jpg" alt="" width="600">

  <ul>
    <li>Mixing rice with zesty spices, crunchy vegetables, and hearty dumplings, </li>
    <br>
    <li>Biryani is a delicious dish made throughout India dating all the way back to the Mughal Empire.
    </li>
    <br>
    <li>
     While the origins ot Biryani are hotly debated, this dish is popular all across India and has morphed into many different variations as it’s spread across the subcontinent and made its way south.
    </li></ul>
    <a href="https://onehotstove.blogspot.com/2020/09/the-big-idli-post.html"target="_blank">More</a>

</div>



<div class="food-container">
  <h1>Food Information</h1>
  <div *ngFor="let food of foods" class="food-card">
    <img [src]="food.imageUrl" alt="{{ food.name }}" />
    <h2>{{ food.name }}</h2>
    <p>Type: {{ food.type }}</p>
    <p>Price: Rs{{ food.price }}</p>
  </div>
</div>

<br>

<div>
  <br>

  <img src="../assets/10 Popular Examples Of Website Footer Designs For Your Website.jpeg" alt="" width="1320" height="400">
</div>

